<div class="jumbotron">
    <div class="container">
        <h1>About</h1>
        <p>I'm a newish, working mom.  I used to live in NYC and dress somewhat fashionably.  As my priorities shifted with a new (wonderful, lovable) daughter at home, my attention towards my own clothing weaned. </p>
        <p>Same outfits each week.  Boring grey/black color palette.  I want to look nice for work, but the thought of picking out an outfit and accessories while chasing after a toddler is too much.  </p>
        <p>I just want Cher's closet from Clueless, so that's what I'm working on here with myOOTD.</p>
    </div>
</div>