<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Your clothes, styled automatically.</h1>
        <p>Get a fresh outfit suggestion on the daily using clothes from your own closet.</p>
        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Don't Shop</h2>
            <p>Load pictures of your clothes and confirm we got their key features right (color, season, ideal temp).</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Keep Track</h2>
            <p>Hate repeating?  Not sure what you wore to that client meeting last time?  Check your outfit history. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Don't Worry</h2>
            <p>You don't have to agonize over your OOTD - we'll do it for you so that you can focus on your life.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>